@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fugaz One", cursive;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --clr-1: #ffffff;
  --clr-2: #eeeeee;
  --clr-3: #212121;
  --clr-4: rgb(24, 154, 123, 0.8);
  --clr-5: #189a7b;
  --shadow-1: 0rem 0rem 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
  --transition-1: all 0.5s ease;
}

body {
  background: var(--clr-1);
  scroll-behavior: smooth;
  position: relative;
  overflow-x: hidden;
}

button {
  background: var(--clr-4);
  padding: 1rem 2rem;
  color: var(--clr-2);
  border: none;
  outline: none;
  cursor: pointer;
}

#res-nav {
  padding: 2rem;
  position: fixed;
  right: -100vw;
  top: 0;
  bottom: 0;
  width: 70vw;
  box-shadow: 0.1rem 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  background: #fff;
  z-index: 13;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: clamp(1rem, 4vw, 2rem) clamp(2rem, 4vw, 4rem);
  position: sticky;
  z-index: 10;
  top: 0;
  background: var(--clr-1);
  transition: var(--transition-1);
  box-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}

header a img {
  width: 2rem;
  height: 2rem;
}

header a,
#res-nav a {
  text-decoration: none;
  color: var(--clr-3);
  margin: 1rem;
}

header nav a:hover,
#res-nav a:hover {
  color: var(--clr-4);
  transition: var(--transition-1);
}

#logo {
  font-size: 2rem;
  font-weight: 700;
}

#home {
  max-height: calc(100vh - 7rem);
  height: 100vh;
  position: relative;
  z-index: 0;
  top: 0;
}

.btn-booknow-home {
  font-size: clamp(0.8rem, 4vw, 1rem);
  margin: 1rem;
}

.btn-booknow-home:hover {
  background: var(--clr-5);
  transition: var(--transition-1);
}

.home-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  text-align: center;
}

.home-content h1 {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  color: var(--clr-1);
  width: max-content;
}

.home-content p {
  font-size: clamp(0.8rem, 4vw, 1rem);
  color: var(--clr-1);
}

#slider {
  position: absolute;
  inset: 0 0 0 0;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1.5rem !important;
  font-weight: bolder;
  color: var(--clr-5);
}

.swiper-pagination-bullet-active {
  background: var(--clr-5) !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.swiper-slide::after {
  content: "";
  position: absolute;
  inset: 0 0 0 0;
  background: var(--clr-3);
  opacity: 0.75;
}

/* Services */

#services-container,
#blogs-container,
#about,
#contact,
footer {
  padding: clamp(2rem, 4vw, 4rem);
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 4;
  background: var(--clr-1);
  scroll-margin-top: 4rem;
}

#services-container h1,
#blogs-container h1,
#about h1,
#contact h1 {
  color: var(--clr-3);
  font-weight: 700;
  font-size: clamp(2rem, 4vw, 2.5rem);
}

.services .service,
.blogs .blog {
  display: flex;
  align-items: center;
  margin: clamp(6rem, 4vw, 8rem) 0rem;
  gap: 5rem;
}

.blogs .blog {
  background: var(--clr-1);
  margin: clamp(2rem, 4vw, rem) 0rem;
}

.services .service div h2,
.blogs .blog div h2 {
  color: var(--clr-3);
  font-size: clamp(1rem, 4vw, 1.5rem);
}

.services .service div p,
.blogs .blog div p {
  margin: 1rem 0rem;
  line-height: 2rem;
  color: var(--clr-3);
}

.services .service img,
.blogs div img {
  width: 20rem;
  aspect-ratio: 1;
  object-fit: cover;
}

.blogs div img {
  height: 100%;
}

/* About */
#about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8rem;
}

#about-container h2 {
  color: var(--clr-3);
  font-size: clamp(1rem, 4vw, 1.5rem);
  margin-top: 1rem;
}

#about-container p {
  line-height: 2rem;
  color: var(--clr-3);
}

#about-container span {
  display: block;
  color: #212121;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 0rem;
  font-weight: 700;
}

#about-container span svg {
  color: var(--clr-5);
}

#contact-container {
  box-shadow: var(--shadow-1);
  background: var(--clr-1);
  margin: clamp(2rem, 4vw, 4rem) 0rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}

#contact-container .field-container {
  display: flex;
  flex-direction: column;
  color: var(--clr-3);
}

#contact-container .field-container input,
#contact-container .field-container textarea {
  padding: 0.5rem 1rem;
  outline: none;
}

#contact-container .field-container textarea {
  resize: none;
  height: 10rem;
}

footer {
  background: var(--clr-3);
  color: var(--clr-2);
}

#footer-container {
  display: flex;
  margin: 2rem 0rem;
  width: 90%;
}

#footer-container div span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 2rem;
}

#footer-container p {
  max-width: 40rem;
}

#footer-container a {
  text-decoration: none;
  color: var(--clr-2);
  display: block;
}

#download-app {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0, 0, 0, 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 11;
  display: none;
  animation: fadeIn 0.4s ease;
}
.download-app-container {
  max-width: 25rem;
  background: var(--clr-2);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.download-app-container p {
  color: var(--clr-3);
}

.download-app-container button {
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
